In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("games.csv")
data.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Score_Diff
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,80.0,E,-4.0
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,83.0,E,-1.0
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,80.0,E,0.0
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN

In [3]:
arr = []
for index, row in data.iterrows():
    length = round(len(row["Name"]), 0)
    arr.append(length)
np_arr = np.array(arr)
np.percentile(np_arr,90)

37.0

In [4]:
lengths = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
length_dict = {key: 0 for key in lengths}
counts = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
for index, row in data.iterrows():
    length = round(len(row["Name"]), 0)
    if length > 50:
        continue
    sales = round(row["Global_Sales"], 2)
    counts[length] += 1
    length_dict[length] = length_dict.get(length) + sales

In [5]:
counts

[0,
 0,
 4,
 10,
 34,
 26,
 87,
 124,
 153,
 117,
 156,
 184,
 166,
 258,
 221,
 227,
 198,
 161,
 170,
 153,
 121,
 149,
 125,
 173,
 153,
 186,
 182,
 112,
 102,
 98,
 138,
 74,
 80,
 83,
 81,
 55,
 62,
 53,
 47,
 57,
 48,
 42,
 33,
 24,
 18,
 39,
 23,
 13,
 8,
 14,
 8,
 0,
 0,
 0,
 0]

In [6]:
df = pd.DataFrame.from_dict(length_dict, orient = 'index')
df.reset_index(level=0, inplace=True)
df.columns = ["Average","Sales"]
#df.index.rename('foo', inplace=True)
df.to_csv("average.csv", index=False)