In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("movies.csv", sep=';')
data.head()

,release_date,title,length,score,sales,genre1,genre2,genre3,genre4,genre5,genre6,genre7
0,1916,Intolerance,11,74,8,Drama,0,0,0,0,0,0
1,1925,The Big Parade,14,70,22,Drama,Romance,War,0,0,0,0
2,1927,Metropolis,10,80,0,Drama,Science Fiction,0,0,0,0,0
3,1929,Pandora's Box,13,76,0,Drama,Thriller,Romance,0,0,0,0
4,1929,The Broadway Melody,19,50,4,Drama,Music,Romance,0,0,0,0

In [3]:
data = data[data["release_date"] >= 1985]
data.shape

(4393, 12)

In [4]:
data = data[data["sales"] > 0]
data = data[data["length"] > 0]
data.shape

(2885, 12)

In [5]:
data.drop(['genre2', 'genre3', 'genre4', 'genre5', 'genre6', 'genre7'], axis=1, inplace=True)

In [6]:
data.reset_index(inplace = True)
data.drop(['index'], axis=1,inplace= True)
data.head()

,release_date,title,length,score,sales,genre1
0,1985,Witness,7,70,68,Crime
1,1985,The Last Dragon,15,64,25,Action
2,1985,Friday the 13th: A New Beginning,32,51,21,Horror
3,1985,Ladyhawke,9,68,18,Adventure
4,1985,Red Sonja,9,50,6,Adventure

In [7]:
data.columns = ['year', 'title', 'length','score', 'sales', 'genre']
data.head()

   year                             title  length  score  sales      genre
0  1985                           Witness       7     70     68      Crime
1  1985                   The Last Dragon      15     64     25     Action
2  1985  Friday the 13th: A New Beginning      32     51     21     Horror
3  1985                         Ladyhawke       9     68     18  Adventure
4  1985                         Red Sonja       9     50      6  Adventure

In [8]:
data['genre'].value_counts()

Drama              639
Comedy             598
Action             542
Adventure          246
Horror             168
Crime              121
Thriller           115
Animation           96
Fantasy             88
Romance             66
Science Fiction     65
Family              36
Documentary         28
Mystery             26
Music               15
War                 15
History             13
Western              8
Name: genre, dtype: int64

In [9]:
data['genre'].loc[data['genre'] == 'War'] = "Action"

c:\users\lynko\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
data['genre'].loc[data['genre'] == 'Western'] = "Action"

c:\users\lynko\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
data['genre'].loc[data['genre'] == 'Animation'] = "Family"

c:\users\lynko\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
data['genre'].loc[data['genre'] == 'Mystery'] = "Drama"

c:\users\lynko\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [13]:
data['genre'].loc[data['genre'] == 'Music'] = "Drama"

c:\users\lynko\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
data['genre'].loc[data['genre'] == 'Science Fiction'] = "Sci-Fi"

c:\users\lynko\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
data.head(20)

,year,title,length,score,sales,genre
0,1985,Witness,7,70,68,Crime
1,1985,The Last Dragon,15,64,25,Action
2,1985,Friday the 13th: A New Beginning,32,51,21,Horror
3,1985,Ladyhawke,9,68,18,Adventure
4,1985,Red Sonja,9,50,6,Adventure
5,1985,The Return of the Living Dead,29,73,14,Comedy
6,1985,Rambo: First Blood Part II,26,63,300,Action
7,1985,A View to a Kill,16,60,152,Adventure
8,1985,Return to Oz,12,67,11,Adventure
9,1985,Pale Rider,10,70,41,Romance
10,1985,Mad Max Beyond Thunderdome,26,59,36,Action
11,1985,Back to the Future,18,80,381,Adventure
12,1985,Day of the Dead,15,69,34,Horror
13,1985,My Beautiful Laundrette,23,66,2,Romance
14,1985,Commando,8,64,57,Action
15,1985,A Nightmare on Elm Street Part 2: Freddy's Rev...,50,57,29,Horror
16,1985,A Room with a View,18,69,20,Drama
17,1985,The Color Purple,16,77,146,Drama
18,1985,Out of Africa,13,70,128,Drama
19,1986,Invaders from Mars,18,55,4,Sci-Fi

In [16]:
data['genre'].value_counts()

Drama          680
Comedy         598
Action         565
Adventure      246
Horror         168
Family         132
Crime          121
Thriller       115
Fantasy         88
Romance         66
Sci-Fi          65
Documentary     28
History         13
Name: genre, dtype: int64

In [17]:
data.shape

(2885, 6)

In [18]:
data.to_csv("movies_processed.csv", index=False)